<div id="contact-block">
    <header>
        <h3>детали бронирования</h3>
        <p>Дата</p>
        <p>Группа Вы и 0 гостей</p>
    </header>
    <section>
        <h3>
            Контактная информация
        </h3>
        <p>
            <input type="text">
            <input type="text">
        </p>
        <p>
            <input type="text">
        </p>
        <div>
            <p>
                <span>Нажимая «Завершить Бронирование» вы соглашаетесь с </span>
                <span>Политикой Использования и Политикой Конфиденциальности Hostme</span>
            </p>
            <p>лого</p>
        </div>
    </section>
    <div class='kont_btn'>
        <button type="button">Завершить бронирование</button>
    </div>

</div>