<div>
    <hostme-reserve 
        :restaurant-id="2033" 
        :data-area-select-required="true" 
        :data-time-select-required="true"
        :data-calendar-select-required="true"
        :data-guest-select-required="true"
        :data-online-update-off="true"
        @open="$emit('open:reserve', ($event))"
        
        :areas="areas"
        :max-party-size="maxPartySize"
        :min-party-size="minPartySize"
        :group-size="groupSize"
        :change-group-size="changeGroupSize"
        :reservation-day="reservationDay"
        :change-date="changeDate"
        :free-time-slots="freeTimeSlots"
        :reservation-time="reservationTime"    
        :change-time="changeTime"
        :change-next-contact="changeNextContact"
        :guest-reservation-note="guestReservationNote"
        :next-contact="nextContact"
        v-on:change-day="getSelectDay($event)"
        :customer-name="customerName"
        :change-customer-name="changeCustomerName"
        :email="email"
        :change-email="changeEmail"
        :phone-number="phoneNumber"
        :change-phone-number="changePhoneNumber"
        :is-output="isOutput"
    ></hostme-reserve>    
</div>



